@charset "UTF-8";

body {
  margin: 0;
  height: 100vh;

  background:
    /* textura de areia (noise leve) */
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.08'/%3E%3C/svg%3E"),

    /* dunas (formas suaves) */
    radial-gradient(ellipse at 20% 80%, #C6905B 0%, transparent 60%),
    radial-gradient(ellipse at 70% 85%, #B07A4A 0%, transparent 55%),
    radial-gradient(ellipse at 50% 95%, #8E5F38 0%, transparent 50%),

    /* céu + base */
    linear-gradient(to top, #E6B889 40%, #9EC4F0 75%, #4F7FB3 100%);

  background-blend-mode: overlay, normal, normal, normal, normal;
    background-repeat: no-repeat;
}

ul.menu {
  list-style-type: none;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  box-shadow: #000000 0px 0px 10px;
  max-width: 111111px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;

}

ul.menu li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration:none;
  font-size: larger;
}



h1 {
  font-family: 'Arial', sans-serif;
  font-size: 3em;
  color: #f1f3e2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.664);
  text-align: center;
  margin-top: 50px;
  height: 100px;
}

div.main {

  background:rgba(222, 221, 221, 0.418);
  text-align: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  border-radius: 1em;
  padding: 3%;
}


div.main h2 {

  margin-bottom: -10px;
  margin-left: 240px;
  margin-right: 300px;
  font-family: 'Georgia', serif;
  font-size: 2em;
  font-weight: 400;
  color: #141414;
  
}

div#main p {
  margin-bottom: auto;
  width: 700px;
  margin-left: 50px;
  float: left;
  text-align: justify;
  font-family: 'Georgia', serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #141414;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(222, 221, 221, 0.418);
}
 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

figure {
  margin-top: 200px;
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 1.8em;
  text-indent: 0;
  border: thin silver solid;
}
figure img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

footer {
  background-attachment: fixed;
  margin-top: 8%;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: #000000 0px 0px 10px;
}